button{
color: #fff!important;
    background-color: #333!important;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 24px 32px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;}